<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!-- box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
  </script>
  <!-- custom css -->
  <link rel="stylesheet" href="./css/home.css">
</head>

<body>

  <!-- home section design -->
  <section class="home" id="home">
    <div class="home-content">
      <div class="social-media">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
      </div>
    </div>

  <!-- header design -->
  <header class="header">
    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="/about">About</a>
      <a href="/recipes">Recipes</a>
      <a href="/fruits">Fruits</a>
      <a href="/meats">Meats</a>
      <a href="/veggies">Veggies</a>
    </nav>
  </header>
<br>
<br>
<br>
<br>
  <!-- about section design -->
  <section class="home" id="home">
    <div class="home-container">
        <div class="home-box">
            <img src="img/apples.jpeg" alt="" />
        </div>
        <div class="home-box">
            <img src="img/steak.jpeg" alt="" />
        </div>
        <div class="home-box">
            <img src="img/veggie.jpeg" alt="" />
        </div>
    </div>
  

  </section>

    <!-- services section design -->
    <section class="services" id="services">
      <div class="services-container">
        <div class="services-box">
          <h3>Web Development</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic perspiciatis in quos accusamus animi placeat
            quis numquam voluptate, deserunt aut molestias quae aperiam, nisi cumque!
          </p>
        </div>

    </section>

    <!-- footer design -->
    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2024 by Anwar Abdeljaber | All Rights Reserved</p>

      </div>
      <div class="footer-iconTop">
        <a href="#home"></a>
      </div>
    </footer>
</body>

</html>