<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Snacks</title>
</head>
<body>
    <h1>Edit the snack</h1>
    <form action="/snacks/<%= editId %>?_method=PUT" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= newSnack.name %>">
  <label for="color">Color</label>
  <input type="text" name="color" id="color" value="<%= newSnack.color %>">
  <label for="readyToEat">Is ready To Eat</label>
  <input type="checkbox" name="readyToEat" id="readyToEat"
  <% if(newSnack.readyToEat === true) { %>
       checked
    <% } %>
    />
  <input type="submit" value="edit snack">

    </form>
</body>
</html>