<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/snacks.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title></title>
  </head>
  <body>
    <navclass="nav">
      <a href="/snacks/new">Create New Snack</a>
    </nav>
    <section class="timeline">
      <div class="timeline-row">
        <div class="timeline-column">
          <h2 class="title">
            <span class="headline"></span>
          </h2>
          <div class="timeline-box">
            <% for( let index = 0; index < allSnacks.length; index++ ) { %>

                <% let snackEach = allSnacks[index] %>
                <div class="timeline-content">
                    <div class="content">
                      <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                      <h3><%= snackEach.name %></h3>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                        voluptate natus consectetur suscipit aspernatur quos obcaecati
                        dolore veniam debitis omnis.
                      </p>
                      <a href="/snacks/<%= index %>">Checkout more...</a>
                    </div>
                  </div>
                <div>
                </div>
            <% } %>

            <span class="animate" style="--i:2;"></span>
          </div>
        </div>

        <div class="timeline-column">
            <h2 class="title">More Snacks<span class="animate" style="--i:1;"></span></h2>
            <div class="timeline-box">
              <% for( let index = 0; index < allSnacks.length; index++ ) { %>
  
                  <% let snackEach = allSnacks[index] %>
                  <div class="timeline-content">
                      <div class="content">
                        <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                        <h3><%= snackEach.name %></h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                          voluptate natus consectetur suscipit aspernatur quos obcaecati
                          dolore veniam debitis omnis.
                        </p>
                        <a href="/snacks/<%= index %>">Checkout more...</a>
                      </div>
                    </div>
                  <div>
                  </div>
              <% } %>
  
              <span class="animate" style="--i:2;"></span>
            </div>
        </div>

      </div>
    </section>
  <!-- scroll reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!-- typed js -->
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  <!-- custom js -->
  <script src="/js/app4.js"></script>
  </body>
</html>

